<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
     <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="ESID - Manually insert projects into ESID">
	<meta name="keywords" content="social media, social media following">
	<meta name="author" content="Nikola Milošević">
	<meta property="og:title" content="Add project to database">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
	<title>ESID - manual insert</title>
    <script type="text/javascript">
        function validateForm() {
            var x = document.forms["myForm"]["start_date"].value;
            if (x == "") return true;
            var regEx = /^\d{4}-\d{2}-\d{2}$/;
            if(!x.match(regEx)) return false;  // Invalid format
            var d = new Date(x);
            if(!d.getTime()) return false; // Invalid date (or this could be epoch)
                return d.toISOString().slice(0,10) === dateString;
    }
}
    </script>


   <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<title>Add Keywords</title>
  </head>
  <body>


  </body>
    <!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
      <!--<div class="container">-->
        <!--<div class="navbar-header">-->
          <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
            <!--<span class="sr-only">Toggle navigation</span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
          <!--</button>-->

        <!--</div>-->
        <!--<div id="navbar" class="collapse navbar-collapse">-->
          <!--<ul class="nav navbar-nav">-->
            <!--<li class="active"><a href="add_keywords">Add Keywords<span class="label label-success label-as-badge">+1</span></a></li>-->
            <!--<li><a href="manage_keywords">Manage KeyWords</a></li>-->
			<!--<li><a href="view_stats">View Stats</a></li>-->
            <!--<li><a href="download">Download</a></li>-->
            <!--<li ><a href="/">About</a></li>-->
            <!--<li><a href="contact">Contact</a></li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</nav>-->


<form enctype="multipart/form-data" method="post" action="add" onsubmit="return validateForm()" name="myForm">

    <div class="form-group">
      <div class="col-xs-12 col-sm-6 col-lg-6">

        <div>
          <label for="project_name">Project name (required):</label>
           <input class="form-control" name="project_name" placeholder="Project name" required></input><br />
            <label for="start_date">Start date (optional):</label>
           <input class="form-control"  name="start_date" placeholder="Start date in yyyy-mm-dd format"></input><br />
            <label for="end_date">End date (optional):</label>
           <input class="form-control"  name="end_date" placeholder="End date in yyyy-mm-dd format"></input><br />
            <label for="project_website">Project website (optional):</label>
           <input class="form-control"  name="project_website" placeholder="website with http://"></input><br />
            <label for="project_website1">Additional website (optional):</label>
           <input class="form-control"  name="project_website1" placeholder="additional website with http://"></input><br />
            <label for="project_website2">Additional website (optional):</label>
           <input class="form-control"  name="project_website2" placeholder="additional website with http://"></input><br />
            <label for="project_facebook">Project Facebook page (optional):</label>
           <input class="form-control"  name="project_facebook" placeholder="Facebook"></input><br />
            <label for="project_twitter">Project Twitter page (optional):</label>
           <input class="form-control"  name="project_twitter" placeholder="Twitter"></input><br />
            <label for="project_linkedin">Project LinkedIn page (optional):</label>
           <input class="form-control"  name="project_linkedin" placeholder="LinkedIn"></input><br />
            <label for="data_source">Data source name (required):</label>
           <input class="form-control"  name="data_source" placeholder="Data Source" required></input><br />
            <label for="location_type">Location type:</label>
             <select name="location_type" >
                <option value="Main">Main</option>
                 <option value="Secondary">Secondary</option>
             </select><br />
            <label for="location_address">Address (optional):</label>
           <input class="form-control"  name="location_address" placeholder="Address"></input><br />
            <label for="location_city">City (optional):</label>
           <input class="form-control"  name="location_city" placeholder="City"></input><br />
            <label for="location_country">Country (optional):</label>
           <input class="form-control"  name="location_country" placeholder="Country"></input><br />
             <label for="location_postcode">Post code (optional):</label>
           <input class="form-control"  name="location_postcode" placeholder="Post code"></input><br />
            <label for="location_longitude">Longitude (optional):</label>
           <input class="form-control"  name="location_longitude" placeholder="longitude (format numeric with dot: XX.XX)"></input><br />
            <label for="location_latitude">Latitude (optional):</label>
           <input class="form-control"  name="location_latitude" placeholder="latitude (format numeric with dot: XX.XX)"></input><br />

            <label for="description">Description (optional):</label>
           <textarea class="form-control" rows="11" name="description" placeholder="Description of the project"></textarea><br />
            <label for="tags">Tags and Tecnologies (optional):</label>
           <input class="form-control"  name="tags" placeholder="comma separated list of tags/technologies/domains"></input><br />

        </div>

      </div>


        </div>
      </div>
    </div>

    <div id="RelatedOrgs" class="col-xs-12 col-sm-6 col-lg-6">
    <table id="org_table" border="1px"><tbody></tbody></table>
    </div>

    <div class="col-xs-12 col-sm-12 col-lg-12 buttons_div" >
    <button id="AddRelated" type="button" class="btn btn-success" style="margin-bottom: 10px;background-color: orange;">Add related organisations</button>
        <br/>
    </div>

    <div class="col-xs-12 col-sm-12 col-lg-12 buttons_div">

      <button type="submit" class="btn btn-success">Add</button>
      <button type="reset" class="btn btn">Clear</button><br /><br /><br />
    </div>
  </form>
     <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add organisation</h4>
        </div>
        <div class="modal-body">
          <label for="organisation_name">Organisation name:</label>
           <input class="form-control"  name="organisation_name" placeholder="Organisation name"></input><br />
            <label for="organisation_address">Organisation address:</label>
           <input class="form-control"  name="organisation_address" placeholder="Organisation address"></input><br />
             <label for="organisation_country">Organisation country:</label>
           <input class="form-control"  name="organisation_country" placeholder="Organisation country"></input><br />
            <label for="organisation_website">Organisation website:</label>
           <input class="form-control"  name="organisation_website" placeholder="Organisation website"></input><br />
        </div>
        <div class="modal-footer">
            <button id="submit_org" type="submit" class="btn btn-default" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

    <!-- FOOTER -->
    <div class="navbar-inverse navbar-fixed-bottom">
      <div style="text-align: center; color: white;">
         <p class="small">Developed at <a href="http://www.research.mbs.ac.uk/innovation" target="_blank">Manchester Institute of Innovation Research, The University of Manchester</a></p>

      </div>
    </div>



    <script src="{{ url_for('static',filename='js/operations.js') }}"></script>
<script>
var series = 1;
$(document).ready(function(){
    $("#AddRelated").click(function(){
        $("#myModal").modal();
    });
});
$(document).ready(function(){
    $("#submit_org").click(function(){
    var e = document.createElement('tr');
    e.innerHTML = "<td>"+document.getElementsByName("organisation_name")[0].value+"</td><td>"+document.getElementsByName("organisation_address")[0].value
    +"</td><td>"+document.getElementsByName("organisation_country")[0].value+"</td><td>"+document.getElementsByName("organisation_website")[0].value;
        $("#org_table")[0].childNodes[0].appendChild(e);
       document.getElementsByName("myForm")[0].insertAdjacentHTML('beforeend', '<input type="hidden" name="org_name_'+series+'" value="'+document.getElementsByName("organisation_name")[0].value+'"/>');
       document.getElementsByName("myForm")[0].insertAdjacentHTML('beforeend', '<input type="hidden" name="org_address_'+series+'" value="'+document.getElementsByName("organisation_address")[0].value+'"/>');
document.getElementsByName("myForm")[0].insertAdjacentHTML('beforeend', '<input type="hidden" name="org_country_'+series+'" value="'+document.getElementsByName("organisation_country")[0].value+'"/>');
document.getElementsByName("myForm")[0].insertAdjacentHTML('beforeend', '<input type="hidden" name="org_website_'+series+'" value="'+document.getElementsByName("organisation_website")[0].value+'"/>');
series = series + 1;
    });
});
</script>

</body>
</html>
