<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/style.css') }}">
	<meta name="description" content="ESID - European Social innovation database">
	<meta name="keywords" content="social media, social media following">
	<meta name="author" content="Nikola Milošević">
	<meta property="og:title" content="SocialSpy - A framework for following information on social media">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
	<title>ESID</title>
   <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  </head>
  <body>




	<div id="content_text">
        Project successfully added.
	</div>

    <!-- FOOTER -->
    <div class="navbar-inverse navbar-fixed-bottom">
      <div style="text-align: center; color: white;">
         <p class="small">Developed at <a href="http://www.research.mbs.ac.uk/innovation" target="_blank">Manchester Institute of Innovation Research, The University of Manchester</a></p>

      </div>
    </div>

</body>
</html>
