<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>ESID - European Social Innovation Database</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
<!-- "{{ url_for('static', filename='js/user_ops.js') }}" -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->


        <!--For Plugins external css-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/roboto-webfont.css')}}" />
        <!--Theme custom css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css')}}" />

        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')}}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <!-- Sections -->
        <section id="social" class="social">
            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="social-wrapper">
                        <div class="col-md-6">
                            <div class="social-icon">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-contact">
                                <!--<a href="#"><i class="fa fa-phone"></i>+011 54925849</a>
                                <a href="#"><i class="fa fa-envelope"></i>contact@softech.com</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /container -->
        </section>

        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='images/ESIDLogo2.png')}}" alt="Logo" style="margin-top: -22px;"/></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/home">Search</a></li>
                        <li class="active"><a href="/suggest_new_project">Suggest project</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="login"><a id="Logout">Logout</a></li>
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <!--Home page style-->
        <header id="register" class="register" style="background-color:white">
            <div class="overlay-fluid-block">
                <div class="container text-center">
                    <div class="row">
                        <div class="home-wrapper">
                                <div class="home-content">

                                    <h1>ESID</h1>
                                    <div class="project_overview">
                                        <form action="/submit_edit" method="post" id="new_project">
                                        <u>Project Name:</u> <input type="text" class="form-control" id="project_name" value="{{project['project_name']}}" name="project_name" placeholder="Enter project name" required><br/>
                                        <u>Project Website:</u> <input type="text" class="form-control" id="project_website" value="{{project['Website']}}" name="project_website" placeholder="Enter project website" required><br/>
                                        <u>Project Facebook:</u> <input type="text" class="form-control" id="project_facebook" value="{{project['Facebook']}}" name="project_facebook" placeholder="Enter project Facebook"><br/>
                                        <u>Project Twitter:</u> <input type="text" class="form-control" id="project_twitter" value="{{project['Twitter']}}" name="project_twitter" placeholder="Enter project Twitter"><br/>
                                        <u>Address:</u> <input type="text" class="form-control" id="project_address" value="{% if project['Locations']|length>0 %}{{project['Locations'][0]['address']}} {% endif %}" name="project_address" placeholder="Enter project Address"><br/>
                                        <u>City:</u> <input type="text" class="form-control" id="project_city" name="project_city" value="{% if project['Locations']|length>0 %} {{project['Locations'][0]['city']}} {% endif %}" placeholder="Enter project city"><br/>
                                        <u>Country:</u> <input required type="text" class="form-control" id="project_country" name="project_country" value="{% if project['Locations']|length>0 %}{{project['Locations'][0]['country']}}{% endif %}" placeholder="Enter project country"><br/>
                                        <u>Objectives:</u> <select id="objectives_satisfy" name="objectives_satisfy"><option {% if project["Objectives"]==0 %} selected="selected" {% endif %} value="0">0</option><option {% if project["Objectives"]==1 %} selected="selected" {% endif %} value="1">1</option><option {% if project["Objectives"]==2 %} selected="selected" {% endif %} value="2">2</option><option {% if project["Objectives"]==3 %} selected="selected" {% endif %} value="3">3</option> </select><br/>
                                        <u>Actors:</u> <select id="actors_satisfy" name="actors_satisfy"><option {% if project["Actors_s"]==0 %} selected="selected" {% endif %} value="0">0</option><option {% if project["Actors_s"]==1 %} selected="selected" {% endif %} value="1">1</option><option {% if project["Actors_s"]==2 %} selected="selected" {% endif %} value="2">2</option><option {% if project["Actors_s"]==3 %} selected="selected" {% endif %} value="3">3</option> </select><br/>
                                        <u>Outputs:</u> <select id="outputs_satisfy" name="outputs_satisfy"><option {% if project["Outputs"]==0 %} selected="selected" {% endif %} value="0">0</option><option {% if project["Outputs"]==1 %} selected="selected" {% endif %} value="1">1</option><option {% if project["Outputs"]==2 %} selected="selected" {% endif %} value="2">2</option><option {% if project["Outputs"]==3 %} selected="selected" {% endif %} value="3">3</option> </select><br/>
                                        <u>Innovativeness:</u> <select id="innovativeness_satisfy" name="innovativeness_satisfy"><option {% if project["Innovativeness"]==0 %} selected="selected" {% endif %} value="0">0</option><option {% if project["Innovativeness"]==1 %} selected="selected" {% endif %} value="1">1</option><option {% if project["Innovativeness"]==2 %} selected="selected" {% endif %} value="2">2</option><option {% if project["Innovativeness"]==3 %} selected="selected" {% endif %} value="3">3</option> </select><br/>
                                        <u>Related actors:</u><br/>
                                            <div id="actors">
                                                <input type="hidden" class="form-control" name="counter" id="counter" value="0"/>

                                            </div>
                                            <input type="button" class="form-control" id="add_actor" value="Add Actor"/>
                                        <u>Project Type (if available):</u> <input value="{{project['type']}}" type="text" class="form-control" id="project_type" name="project_type" placeholder="Enter project type"><br/>
                                        <u>Project Start Date:</u> <input type="date" value="{{project['DateStart']}}" class="form-control" id="project_date_start" name="project_date_start" placeholder="Enter project start date"><br/>
                                        <u>Project End Date:</u> <input type="date" value="{{project['DateEnd']}}" class="form-control" id="project_date_end" name="project_date_end" placeholder="Enter project start date"><br/>
                                            <table border="0" id="Topics"><tr><td><u>Topics</u></td><td><u>Exclude</u></td></tr>
                                                {% for topic in project['Topics'] %}
                                                <tr><td>{{topic}}</td><td><input type="checkbox" class="form-check-input" id="{{topic}}" value="{{topic}}" name="topic_checkbox"></td></tr>
                                                {% endfor %}

                                            </table>
                                            <div id="additional_topics"><u>Topics to add:</u><br/></div>
                                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Topic</button><br/>



                                            <u>Descriptions:</u><br/>
                                        <textarea name="project_description" id="project_description" cols="150" rows="10" >{% for desc in  project['Descriptions'] %} {{desc}} {% endfor %}</textarea>
                                         <u>Comment:</u><br/>
                                        <textarea name="project_comment" id="project_comment" cols="150" rows="10" required></textarea>
                                        KNOWMAK Ready:<input type="checkbox" class="form-check-input" id="knowmak_ready" value="knowmak_ready" name="knowmak_checkbox">

                                            <input type="submit" class="form-control" id="submit" value="Submit"/>
                                            <input type="hidden" class="form-control" name="project_id" id="project_id" value="{{project['id']}}"/>
                                        </form>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:800px">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Topic</h4>
      </div>
      <div class="modal-body">
        <p style="color:#000">Some text in the modal.</p>
          <ul class="list-group">
                <li class="list-group-item active"><u>http://www.gate.ac.uk/ns/ontologies/knowmak/bioeconomy</u></li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/agriculture_and_forestry</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/biomass</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/food_consumption</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/food_production</li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/land_use</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/marine_resources</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/marine_technology</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/food_consumption</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/food_production</li>
              <li class="list-group-item"><u>http://www.gate.ac.uk/ns/ontologies/knowmak/climate_change_and_the_environment</u></li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/air_quality_management</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/carbon_footprint</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/noise</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/packaging</li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/soil_quality</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/waste_management_and_recycling</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/water_resources</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/water_systems</li>
                <li class="list-group-item"><u>http://www.gate.ac.uk/ns/ontologies/knowmak/energy</u></li>
                     <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/alternative_fuels</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/biofuels</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/carbon_capture_and_storage</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/concentrated_solar_power</li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/energy_efficiency</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/energy_storage</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/energy_supply</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/geothermal_energy</li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/hydro_power</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/low_carbon_technology</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/nuclear_energy</li>
                              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/ocean_energy</li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/photovoltaics</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/renewable_heating_and_cooling</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/smart_cities_and_communities</li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/wind_energy</li>
                <li class="list-group-item"><u>http://www.gate.ac.uk/ns/ontologies/knowmak/health</u></li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/active_ageing_and_self_management_of_health</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/preventing_disease</li>
                              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/treating_and_managing_disease</li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/e_health</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/health_biotechnology</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/health_care_provision_and_integrated_care</li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/health_data</li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/personalized_medicine</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/pharmaceuticals</li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/social_care</li>
              <li class="list-group-item"><u>http://www.gate.ac.uk/ns/ontologies/knowmak/security</u></li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/border_security</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/catastrophe_fighting</li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/crime_and_terrorism</li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/digital_security</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/public_safety_communication</li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/security_monitoring</li>

              <li class="list-group-item"><u>http://www.gate.ac.uk/ns/ontologies/knowmak/society</u></li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/co_creation</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/cultural_heritage</li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/democracy</li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/education</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/employment</li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/entrepreneurship</li>

              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/global_engagement</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/housing</li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/knowledge_transfer</li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/local_engagement</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/migration</li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/poverty</li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/social_inequality</li>

              <li class="list-group-item"><u>http://www.gate.ac.uk/ns/ontologies/knowmak/transport</u></li>

              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/aeronautics</li>
                <li class="list-group-item"> http://www.gate.ac.uk/ns/ontologies/knowmak/automobiles</li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/freight</li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/intelligent_transport</li>
                <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/maritime_transport</li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/rail_transport</li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/sustainable_transport</li>

              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/transport_infrastructure</li>
              <li class="list-group-item">http://www.gate.ac.uk/ns/ontologies/knowmak/urban_mobility</li>
</ul>

      </div>
      <div class="modal-footer">
           <button type="button" class="btn btn-default" id="add_data">Add topic</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


                                    </div>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>




        <section id="footer-menu" class="sections footer-menu">
            <div class="container">
                <div class="row">
                    <div class="footer-menu-wrapper">

                        <div class="col-md-8 col-sm-12 col-xs-12">

                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="menu-item">
                                    <h5>Legal</h5>
                                    <ul>
                                        <li>PRIVACY & COOKIES</li>
                                        <li>TERMS OF USE</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="menu-item">
                                    <h5>Information</h5>
                                    <ul>
                                        <li>SUPPORT</li>
                                        <li>DEVELOPERS</li>
                                        <li>BLOG</li>
                                        <li>NEWSLETTER</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                           <!-- <div class="menu-item">
                                <h5>Newsletter</h5>
                                <p>Insights await in your company's data. Bring them into focus with BlueLance.</p>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter your email address">
                                    <input type="submit" class="form-control" value="Use It Free">
                                </div>
                            </div>-->
                        </div>

                    </div>
                </div>
            </div>
        </section>


        <!--Footer-->
        <footer id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-wrapper">

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-brand">
                                <img src="{{ url_for('static', filename='images/ESIDLogo2.png')}}" alt="logo" />
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">

                        </div>

                    </div>
                </div>
            </div>
        </footer>


		<div class="scrollup">
			<a href="#"><i class="fa fa-chevron-up"></i></a>
		</div>


        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/semanticus.js')}}"></script>

        <script src="{{ url_for('static', filename='js/plugins.js')}}"></script>
        <script src="{{ url_for('static', filename='js/modernizr.js')}}"></script>
        <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    <script src="{{ url_for('static',filename='js/js.cookie.js') }}"></script>
    <script>userLoggedIn()</script>
    <script>

        $('#new_project').append(" <input name='user' value='"+Cookies.get("username")+"' type='hidden'>");
    </script>

    </body>
</html>
